
@import "./profile.css";
@import "./keyword.css";
@import "./font.css";

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 20px;
}
/*브라우저 바*/
.background {
  background-color:#A4A4A4;
  
background-image: linear-gradient(#979797 1px, transparent 1px),
linear-gradient(90deg, #979797 1px, transparent 1px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size: 20px 20px, 20px 20px, 20px 20px, 20px 20px;
background-position:-1px -1px, -1px -1px, -1px -1px, -1px -1px;
  /*background-image: url("../grid2.png");*/
  
  height: 768px;
  width: 1024px;
  border: solid 2px #005bf4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.windowbar {
  background-color: #005bf4;
  color: white;
}
.bar_bottom {
  width: 1004px;
  padding: 0 10px;
  height: 30px;
  background-color:#ECEBD7;
  position: absolute;
  bottom: 30px;
  border-top: solid 4px #BEBEB2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.bottom_icon {
  color: #3B9FD1;
}
.bar_bottom_right {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar_top {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchLog {
  background-color: #f7f7f7;
}
.bar_top .colone,
.bar_top .coltwo {
  margin: 0px 5px;
  font-size: 18px;
}
.fa-window-close {
  color: red;
}
.cy {
  color: #ee502f;
}
.window {
  border: solid 1px white;
  padding: 2px;
}
.cySearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  /*width: 200px;
  height: 20px;
  border: solid 2px #ee502f;
  border-radius: 10px;*/
  margin: 0px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar_toptwo {
  padding: 0 30px;
}
.search .searchIn {
  border: none;

  height: 20px;
  border: solid 2px #ee502f;
  border-right: none;
  background-color: rgba(245, 245, 245, 0);
}
.searchBtn {
  border: none;
  width: 40px;
  height: 26px;
  background-color: #ee502f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ad {
  cursor: pointer;
  padding-left: 10px;
  font-size: 13px;
  color: grey;
}
.coltwo_link {
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.logBtn,
.history,
.select {
  font-size: 13px;
  padding: 1.5px;
  color: black;
  border: solid 1px black;
  text-decoration: none;
}
.trans_box {
  width: 1024px;
  height: 592px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  
}
.trans_outer {
  width: 752px;
  height: 562px;
  margin: 30px;
  position: relative;
  display: flex;
}
.main_left {
  width: 240px;
  height: 562px;
  background-color: #acd2df;
  border-radius: 10px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.main_Ldeco {
  width: 225px;
  height: 532px;
  border: dashed 1px white;
  border-radius: 10px;
  margin: 15px;
  border-right: none;
}
.main_Lin {
  width: 220px;
  height: 512px;
  margin: 5px;
  padding-top: 5px;
  border-radius: 10px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todayNum {
  color: red;
}
.home_inner_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.inner_Lbox {
  overflow: auto;
  width: 180px;
  height: 442px;
  padding: 10px;
  border-radius: 10px;
  border: solid 0.2px rgb(129, 127, 127);
  background-color: white;
  
}
.inner_Lbox_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feeling_eng {
  color: #3a9ccb;
  font-weight: bold;
}
.feeling_icon,
.bar_arrow {
  color: gray;
}
.feeling_kr {
  font-weight: 200;
}
.bar_his {
  color: #3a9ccb;
}
.inner_center_bar {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  margin-bottom: 10px;
}
.inner_Lbox_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main_right {
  width: 512px;
  height: 562px;
  background-color: #acd2df;
  border-radius: 10px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.main_Rdeco {
  width: 497px;
  height: 532px;
  border: dashed 1px white;
  border-radius: 10px;
  margin: 15px 15px 15px 0;
  border-left: none;
}
.main_Rin {
  position: relative;
  width: 482px;
  height: 501px;
  margin: 5px 5px 5px 0;
  padding-top: 16px;
  padding-left: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
  align-items: flex-start;
}
.inner_Rbox {
  border-radius: 10px;
  border: solid 0.2px rgb(129, 127, 127);
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 452px;
  height: 441px;
  background-color: white;
 
}
.main_Rin_stotyroom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px;
}
.main_Rin_top {
  width: 465px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main_Rin_top_text {
  font-size: 20px;
}
.main_Rin_top_domain{
  font-size: 13px;
  color: rgb(73, 73, 73);
  text-decoration: none;
  cursor: pointer;
}
.main_Rin_comment {
  width: 452px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav_bar_main {
  position: absolute;
  top:55px;
  left: 683px;
}
.nav_bar {
  width: 62px;
  height: 33px;
  margin-bottom: 2px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  line-height: 35px;
  list-style: none;
  /*transition: backgrond-color 0.1s forwards;*/
}
.unclicked {
  background-color: #3590BA;
  border: solid 1px rgb(129, 127, 127);
  border-left: none;
}
.unclicked>a {
  text-shadow: 0 0 2px rgb(48, 48, 48);
  color: white;
}
.clicked {
  border: solid 1px rgb(129, 127, 127);
  border-left: none;
  background-color: #ffffff;
}
.clicked>a {
  text-shadow: 0 0 2px rgb(48, 48, 48);
  color: white;
}
.nav_bar a{
  text-decoration: none;
  
}
/*
.nav_bar:active{
  animation: nav_bar_fill 0.1s ease-in forwards;
}
@keyframes nav_bar_fill {
  from {
    background-color: rgb(206, 111, 111);;
  }
  to {
    background-color: aqua;
  }
}*/
/*.ma
.in_outer {
  margin: 30px;
  padding: 20px;
  width: 752px;
  height: 562px;
  background-color: white;
  border-radius: 10px;
}
.main_inner {
  margin: 10px;
  width: 732px;
  height: 542px;
  background-color: rgb(255, 236, 236);
  border-radius: 10px;
}
.main_deco {
  width: 752px;
  height: 562px;
  border: dashed 1px red;
  border-radius: 20px;
}*/
.option {
  padding: 10px;
  
  height: 220px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.option-box_one {
  width: 150px;
  height: 50px;
  padding-bottom: 10px;
  border-bottom: solid 2px #8f8f8f77;;
  /*box-shadow: 0px -7px 9px -3px rgba(97, 97, 97, 0.63) inset;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.option_em {
  color: orangered;
  font-weight: bold;
}
.option_emtwo {
  color: orangered;
  font-size: 13px;
  font-weight: bold;
}
.option-box_two {
  width: 100%;
  height: 50px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box-two_colone {
  width: 90%;
 display: flex;
 justify-content: space-between;
  align-items: center;
}
.box-two_coltwo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.music {
  padding: 0;
  margin: 0;
  
  height: 60px;
  background-color:#EDEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.music-state{
  width: 130px;
  padding: 0 5px;
  border-radius: 10px;
  background-color: #F8F8F8;
  align-items: center;
  color:#939393;
  overflow: hidden;
  
}
.music-option{
  width: 140px;
  padding: 0 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.option_icons,.etc_icon {
  color: #5D5D5D;
  font-size: 14px;
}

.etc_list {
  background-color: #575757;
  color: white;
  font-size: 16px;
}
