.center_sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile_box {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: auto;
  width: 452px;
  height: 441px;
}
.profile_main_location {
  width: 452px;
  position: absolute;
  top: 30px;
}
.first_profile_name {
  font-size: 40px;
  -webkit-animation: tracking-in-expand-fwd 4s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking_name 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.first_profile_content {
  margin-top: 150px;
  width: 452px;
  height: 450px;
  opacity: 0;
}
.first_profile_content:hover {
  opacity: 1;
}

@keyframes tracking_name {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}

.form_age {
  font-size: 50px;
}
.answer_age {
  color: white;
  margin-top: 90px;
  font-size: 120px;
  font-weight: bold;
  width: 452px;
}
.form_char {
  font-size: 50px;
  width: 452px;
  opacity: 0;
}
.first_profile_content:hover > .form_age {
  opacity: 1;
  -webkit-animation: focus-in-expand-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.first_profile_content:hover > .answer_age {
  -webkit-animation: text-shadow-drop-center 1.5s both;
  animation: text-shadow-drop-center 1.5s both;
  animation-delay: 0.8s;
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
/*@keyframes que {
  0% {
    color: black;
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  50% {
    color: black;
    letter-spacing: 0em;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    color: black;
    letter-spacing: 0em;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes age_answer {
  0% {
    color: black;
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    color: black;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}*/
.second_profile {
  width: 452px;
  height: 600px;
}
.second_profile:hover > .second_profile_img > .right {
  animation: airpod_right 1s ease-in-out forwards;
}
.second_profile_img {
  display: flex;
  width: 452px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.second_profile:hover > .form_char {
  -webkit-animation: focus-in-expand-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.5s;
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes airpod_right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110px);
  }
}
.second_profile:hover > .second_profile_img > .left {
  animation: airpod_left 1s ease-in-out forwards;
}
@keyframes airpod_left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110px);
  }
}
/*
.imo_two:hover ~ .right {
  transform: translateX(-110px);
}
.right:hover {
  transform: translateX(-110px);
}*/
.hobby_one {
  color: rgb(0, 0, 0) (32, 30, 30);
  font-size: 20px;
  margin-bottom: 40px;
}
.second_profile:hover > .hobby_one {
  -webkit-animation: tracking-in-expand-fwd 4s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking_name 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 2s;
}
.hobby_two_textone {
  margin-top: 90px;
  font-size: 30px;
}
.second_profile:hover > .hobby_two_textone {
  -webkit-animation: tracking-in-expand-fwd 4s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking_name 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 3s;
}
.hobby_two_img {
  opacity: 0;
}
.third_profile:hover > .hobby_two_img {
  animation: netflix 3s ease-in-out forwards;
}

@keyframes netflix {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.imo_img {
  margin-bottom: 30px;
  animation: imo_motion 2s ease-in-out forwards;
}
@keyframes imo_motion {
  0% {
    transform: scale(0.5);
    border-radius: 50%;
    box-shadow: 2px 5px 5px 0px rgba(95, 95, 95, 0.5);
  }
  50% {
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 2px 5px 5px -5px rgba(95, 95, 95, 0.5);
  }

  100% {
    transform: scale(1);
    border-radius: 50%;
    box-shadow: 2px 5px 5px 0px rgba(95, 95, 95, 0.5);
  }
}
