.center_sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile_box {
  position: relative;
  overflow: auto;
  width: 452px;
  height: 441px;
}
.profile_content {
  width: 452px;
  position: absolute;
  top: 30px;
}
.first_profile_name {
  font-size: 40px;
  margin-bottom: 30px;
}
.second_profile {
  display: flex;
  width: 452px;
  justify-content: space-between;
  align-items: center;
}

.imo_two:hover ~ .right {
  transform: translateX(-110px);
}

.left {
  transform: translateX(110px);
}
.right:hover {
  transform: translateX(-110px);
}
.hobby_one {
  color: red;
  font-size: 30px;
}
.imo_img {
  margin-bottom: 50px;
  animation: imo_motion 1.5s ease-in-out infinite;
}
@keyframes imo_motion {
  0% {
    transform: scale(0.8);
    border-radius: 50%;
    box-shadow: 2px 10px 15px 0px rgba(248, 77, 77, 0.5);
  }
  50% {
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 2px 10px 15px -5px rgba(248, 77, 77, 0.5);
  }

  100% {
    transform: scale(0.8);
    border-radius: 50%;
    box-shadow: 2px 10px 15px 0px rgba(248, 77, 77, 0.5);
  }
}
/*
.left {
  animation: airpod_left 5s ease-in-out forwards;
}
@keyframes airpod_left {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(110px);
  }
}
.right {
  animation: airpod_right 5s ease-in-out forwards;
}
@keyframes airpod_right {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(-110px);
  }
}*/
